.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(214, 214, 214);
    z-index: 100;
}

.header-left-section {
    width: 170px;
    height: 24px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    width: 24px;
    margin-left: 24px;
}

.youtube-logo {
    width: 90px;
}

.header-middle-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    height: 40px;
    max-width: 470px;
    margin-left: 55px;
    margin-right: 35px;
}

.header-searchbar {
    flex: 1;
    width: 0;
    height: 36px;
    font-size: 17px;
    border-radius: 2px;
    border-color: rgba(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0, 0.1);
    padding-left: 10px;
}

.header-searchbar::placeholder {
    font-size: 16px;
}

.search-button {
    width: 60px;
    height: 100%;
    margin-left: -1px;
    margin-right: 10px;
    background-color: rgba(204, 204, 204, 0.2);
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgba(204, 204, 204);
}

.search-button:hover {
    background-color: rgb(228, 228, 228, 0.6);
}

.search-button,
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notifications-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notifications-container .tooltip {
    position: absolute;
    background-color: rgb(107, 107, 107);
    color: white;
    font-size: 12px;
    padding: 12px 8px;
    border-radius: 4px;
    top: 65px;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s;
}

.upload-icon-container .tooltip,
.apps-icon-container .tooltip {
    top: 58px;
}

.notifications-container .tooltip {
    top: 40px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notifications-container:hover .tooltip {
    opacity: 0.9;
}

.search-button-image {
    width: 27px;
}

.voice-search-button {
    border-radius: 20px;
    border: none;
    background-color: rgba(204, 204, 204, 0.25);
    width: 40px;
    height: 40px;
}

.voice-search-button-image {
    width: 24px;
}

.header-right-section {
    width: 180px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    margin-right: 26px;
}

.right-icon {
    width: 24px;
    vertical-align: middle;
}

.notifications-container {
    position: relative;
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(209, 0, 0);
    color: white;
    font-size: 10px;
    font-weight: 500;
    padding: 1px 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.profile-icon {
    width: 32px;
    border-radius: 16px;
}

.profile-icon-container {
    cursor: pointer;
}

@media all and (max-width: 550px) {
    .header-right-section,
    .header-searchbar,
    .voice-search-button {
        display: none;
    }

    .header-middle-section {
        flex: 0.7;
        justify-content: end;
        margin: 0;
    }

    .search-button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 0;
        margin-right: 18px;
    }

    .header-left-section {
        flex: 1;
    }

    .search-button:hover .tooltip {
        display: none;
    }
}
